
  .main { 
    display: flex;
    flex-direction: column;
  }
  
  nav {
    order: -3;
    padding: .1em;
    display: inline-block;
  }
  
  nav> ul {
    list-style-type: none;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    text-align: center;
  }
  

  li {
    display: inline-block;
    border-right: 3px solid #aaa;
    border-left: 3px solid #aaa;
    padding: 1em 1em 1em 1em;
  }
  li a {
    text-decoration: none;
    color: #17202A;
    font: 25px/l Helvetica, Verdan, sans-serif;
    text-transform: uppercase;
    transition: all 0.5s ease;
  }
  
  li a:hover {
    color: #666;
  }
  
  li.active a {
    font-weight: bold;
    color: #333;
  }
  header {
    order: -4;
    font-size: 5em;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  #page1 section {
    column-count: 3;
    column-gap: 40px;
    column-rule: 1px solid #A1A1A1;
    text-align: justify;
  }
  #page1 h1{
    margin-top:0;
    text-align: left;
  }
  #page3 h1{
    margin-top:0;
    text-align: center;
  }
  hr{
    border-bottom: 4px solid #111;
    margin-bottom: 10px;
  }
  #page2 section {
    column-count: 2;
    column-gap: 40px;
    column-rule: 1px solid #A1A1A1;
    text-align: justify;
  }
  h5 {
    margin-top:2px;
    order: -2;
    font-size: 3em;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  p {
    font-family: 'Cinzel', serif;
  }
  #page3 p{
    border-bottom: 4px solid #111;
  }
  .Truck > img {
    max-width: 100%;
  }
  .Cookie > img {
    max-width: 10%;
  }
  @media (min-width: 800px) {
    .Cookie1 >img {
        float: left;
        max-width: auto;
        max-height:90px;
    }
    .Cookie2 >img {
      float: right;
      max-width: auto;
      max-height:90px;

    }
  }
  @media (max-width: 800px) {
    .Cookie1 > img {
      display:none;
    }
    .Cookie2 > img {
      display:none;
    }
  }
  @media only screen and (max-width : 300px){
    section: width 100%;
  }